body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'roboto' , sans-serif
}

.container{
    width: 1280px;
    margin: 0 auto;
}

/*.header{
    padding-top: 50px;
    padding-bottom: 49px;
}*/

.backround{
background-color: #6C6969;
    background-image: url(../img/bg_header.png);
    width: auto;
height: 1024px;
}

.nav{
display: flex;
justify-content: space-around;
padding-top: 50px;

}

.header_nav{
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.header_nav:hover {
    background-color: transparent;
    color: #C7B299;
}

.header_nav:not(:last-of-type){
    margin-right: 25px;
    }

.header_head{
text-align: center;
color: white;
/*width: 570px;*/
margin:0 auto;

}

.header_info{
    width: 569px;
    height: 239px;
}

.slider{
    display: flex;
    justify-content: space-between;
    
    padding-top: 300px;
     
    }
    
    .slider_left{
        margin-left: 160px;
    margin-right: 475px;
    font-size: 73px;
    color: #D3C1AC;
    }
    
    .slider_right{
        margin-right: 160px;
    margin-left: 475px;
   font-size: 73px;
   color: #D3C1AC;
    }


.header_head_mini{
font-family: Ralleway;
font-weight: 500;
font-size: 36px;
line-height: 42px;
}

.header_head_big{
    font-family: Ralleway;
    font-weight: 600;
font-size: 52px;
line-height: 61px;
}

.header_text{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
}

.header_button{
    width: 170px;
    height: 53px;
    background: #988574;
    border-radius: 3px;
    color: white;
    margin-top: 40px;
}

.header_circle{
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.circle_item{
    flex-shrink: 0;
    padding: 0;
    display: block;
    background-color:  rgba(255, 255, 255, 0.5);
width: 10px;
height: 10px;
border-radius: 50px;
cursor: pointer;
}

.circle_item:hover {
    transform: scale(1.5);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.circle_item:not(:last-of-type){
margin-right: 10px;
}

.subtitle{
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
    padding-bottom: 88px;
}



.subtitle_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
}


.subtitle_head{
    font-family: Raleway;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #555555;
    text-align: center;
    margin-bottom: 20px;
}

.subtitle_text{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
   margin-bottom: 30px;
}

.subtitle_icon{
    color: #555555;
    font-size: xxx-large;
 margin-bottom: 30px;
}

/*.subtitle_info::after {
    bottom: 30px;
    width: 70px;
    height: 3px;
    background-color: #F1EEE9;
    content: '';
}*/

.subtitle_info:hover .subtitle_icon,
 .subtitle_info:hover .subtitle_head {
    color: #C7B199;
  }

  .subtitle_info:hover .subtitle_block{
background-color: #C7B199;;
  }

.subtitle_block{
    width: 70px;
    height: 3px;
    background-color: #F1EEE9;
}



.waxom{

   background-color: #E5E5E5;
   padding-top: 80px;
}

.waxom_i{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.waxom_head{
    font-weight: 600;
font-size: 30px;
line-height: 35px;
text-align: center;
color: #555555;
margin-bottom: 20px;
}

.waxom_text{
    font-family: Montserrat;
line-height: 20px;
text-align: center;
color: #8C8C8C;

width: 770px;
margin: auto;
}

.waxom_img{
    display: block;
    width: 1232px;
    display: flex;
    align-self: center;
    padding-top: 42px;
}

.press{
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    padding-top: 44px;
    padding-bottom: 45px;
    color: white;
}
.press_info{
display: flex;
justify-content: space-between;
}

.press_head{
    font-family: Raleway;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 8px;
}
.press_text{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #615855;

}
.press_button{
    font-family: Roboto;
    color: white;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    background-color: #988574;
    width: 170px;
height: 53px;
    margin-top: 15px;
}
mark{
   color: #C7B299;
background-color: transparent;
}

.projects{
padding-top: 61px;
padding-bottom: 33px;
}

.projects_head{
    font-family: Raleway;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #555555;
    margin-bottom: 10px;
}

.projects_text{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #8C8C8C;
    
    width: 800px;
    margin: auto;
}

.projects_filters{
    margin-top: 27px;
}

.select_type{
    display: block;
display: none;
}

.select_lable{
    display: inline-table;
    text-align: center;
border: 1px solid #EBEBEB;
padding: 5px;
}

.text_select{
    display: block;

    font-family: Montserrat;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #8C8C8C;
}


input[type="radio"]:checked+ span {
    background-color: #998575;
    color: #FFFFFF;

}

.select_lable:not(:last-of-type){
    margin-right: 10px;
}

label:checked input{
    background-color: #998575;
    color: #FFFFFF;
}
input{
    display: none;
}

.projects_img{
    margin-top: 70px;
    display: flex;
   justify-content: space-between;

}

.projects_img:nth-child(n+4){
flex-wrap: wrap;
}

.projects_card{
background-color: #FBFAF8;
}

.projects_card:nth-child(n+4){
margin-top: 66px;
margin-bottom: 47px;
}

.project_card_head{
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #C7B299;
    margin-top: 24px;
    margin-left: 20px;
}

.project_card_text{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #D1D1D1;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.projects_card:hover{
    background-color: #352F2D;
color: #FFFFFF;
}

.project_button{
    font-family: Roboto;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #FFFFFF;
width: 170px;
height: 53px;
background-color: #988574;
border-radius: 3px;
margin-left: 45%;
}

.video_main{
position: relative;
width: 100%;
color: #fff;
}

.video{
  width: 100%;
  height: 705px;
}

  video:hover{
      cursor: pointer;
  }

.video_main_text{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
}

.video_text{
    font-family: Montserrat;
font-weight: 300;
font-size: 16px;
line-height: 20px;
text-align: center;
}

.video_head{
    font-family: Raleway;
font-weight: 500;
font-size: 30px;
line-height: 35px;
text-align: center;
}

.device{
    background-image: url(../img/iphone.jpg);
    background-repeat: no-repeat;
    background-position-x: 420px;
    height: 616px;
    margin-top: 78px;
}

.device_mobile{
    padding-top: 120px;
display: flex;
flex-direction: column;
margin-left: 600px;
width: 670px;
align-items: flex-start;
}

.device_head{
    font-family: Raleway;
font-weight: 600;
font-size: 30px;
line-height: 35px;
color: #555555;
margin-bottom: 20px;

}

.device_text{
    font-family: Montserrat;
    line-height: 20px;
    color: #8C8C8C;
    margin-bottom: 50px;
    
}

.device_list{
    font-family: Montserrat;
    line-height: 20px;
    color: #8C8C8C;
    margin-left: 100px;
    width: 578px;
}

.device_icon{
    color: #C7B299;
    margin-right: 8px;

}

.statistics{
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}

.statistics_scope{
display: flex;
justify-content: center;
padding-top: 36px;
padding-bottom: 36px;
}

.statistics_scope_quant{
display: flex;
flex-direction: column;
align-items: center;
}

.statistics_scope_quant::after{
    content: '';
    width: 30px;
height: 2px;
background-color: #fff;
margin-top: 15px;
}

.statistics_scope_quant:not(:last-child){
    margin-right: 70px;
}

.statistics_icon{
    color: #C7B299;
font-size: xx-large;
}

.statistics_quant{
    font-family: Montserrat;
    font-size: 48px;
    line-height: 59px;
    color: white;
}

.statistics_text{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    color: #C7B299;
}

.recent{
    padding-top: 100px ;
    padding-bottom: 114px;

}

.recent_header{
    font-family: Raleway;
font-weight: 600;
font-size: 30px;
line-height: 35px;
color: #555555;
}

.recent_text{
    font-family: Montserrat;
line-height: 28px;
color: #8C8C8C;
}

.recent_post_header{
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
}

.recent_post_text{
    font-family: Montserrat;
font-weight: 300;
font-size: 14px;
line-height: 22px;
}